body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: white; /* Sanity Check! */
}

h1 {
  margin-top: 100px;
  text-align: center;
}

.cityname{
	font-weight: bold;
	color:green;
}

section{
	padding:10px;
	border: solid; 
	margin:2px;
}